{#
/**
 * @file
 * Template implementation for the media_tyler_data_insights theme hook.
 *
 * Available variables:
 * - url: (string) The full URL to this widget.
 * - title: (string) The name of the media entity.
 * - width: (string) The width of the iframe, in pixels or as a percentage.
 * - height: (string) The height of the iframe, in pixels or as a percentage.
 */
#}
<iframe title="{{ title }}" width="{{ width }}" height="{{ height }}" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
        src="{{ url }}"></iframe>
